 <!-- Footer 
 <footer id="main-footer" class="py-4 text-white text-center">
  Copyright &copy;
  <span class="year"></span> Rayuela <script>document.write(new Date().getFullYear());</script>
</footer>
-->


  <footer class="text-center text-white" style="background-color: #f1f1f1;">
  <!-- Grid container -->
  <div class="container pt-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a
        class="btn btn-link btn-floating btn-lg text-white m-1"
        href="https://www.facebook.com/Rayuela.tu.libreria?locale=es_LA"
        target="_blank"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-facebook-f"></i
      ></a>
      <!-- Instagram -->
      <a
        class="btn btn-link btn-floating btn-lg text-white m-1"
        href="https://www.instagram.com/rayuelariogrande/?hl=es"
        target="_blank"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-instagram"></i
      ></a>

    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center text-white p-3" style="background-color: rgba(226,37,37,1);">
    © 2023 Rayuela Copyright
  </div>
  <!-- Copyright -->
</footer>
  

<!-- End of .container -->
